<ion-content>
  <h2 style="text-align: center; margin-top: 80px; margin-bottom: 60px;">MIS DATOS</h2>

  <div style="max-width: 800px; margin: 0 auto; display: flex; flex-direction: column; gap: 20px;">
    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Nombre</mat-label>
      <input matInput [(ngModel)]="nombre" [disabled]="!modoEdicion" >
    </mat-form-field>


    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Apellido Paterno</mat-label>
      <input matInput [(ngModel)]="apellidoPaterno" [disabled]="!modoEdicion" >
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Apellido Materno</mat-label>
      <input matInput [(ngModel)]="apellidoMaterno" [disabled]="!modoEdicion" >
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Dirección</mat-label>
      <input matInput [(ngModel)]="direccion" [disabled]="!modoEdicion" >
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Comuna</mat-label>
      <input matInput [(ngModel)]="comuna" [disabled]="!modoEdicion" >
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Región</mat-label>
      <input matInput [(ngModel)]="region" [disabled]="!modoEdicion" >
    </mat-form-field>

        <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Género</mat-label>
      <mat-select [(ngModel)]="genero" [disabled]="!modoEdicion">
        <mat-option value="masculino">Masculino</mat-option>
        <mat-option value="femenino">Femenino</mat-option>
        <mat-option value="noBinario">No binario</mat-option>
        <mat-option value="otro">Otro</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Nivel Educación</mat-label>
      <mat-select [(ngModel)]="nivelEducacion" [disabled]="!modoEdicion">
        <mat-option value="SinEducacion">Sin educación formal</mat-option>
        <mat-option value="Primaria">Primaria (Básica)</mat-option>
        <mat-option value="Secundaria">Secundaria (Media)</mat-option>
        <mat-option value="Tecnico">Técnico-profesional</mat-option>
        <mat-option value="Universitaria">Universitaria (Pregrado)</mat-option>
        <mat-option value="Postgrado">Postgrado</mat-option>
        <mat-option value="Otro">Otro</mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Fecha Nacimiento</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="fechaNacimiento" readonly [disabled]="!modoEdicion" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

<div style="display: flex; justify-content: flex-end; margin-bottom: 30px;">
  <ion-button color="primary" (click)="modoEdicion = !modoEdicion">
    {{ modoEdicion ? 'Cancelar' : 'Editar' }}
  </ion-button>
</div>

    <div *ngIf="modoEdicion" style="display: flex; gap: 50px; margin-top: 10px; margin-bottom: 30px;">
      <ion-button expand="block" color="medium" (click)="limpiarCampos()" style="flex: 1;">Limpiar</ion-button>
      <ion-button expand="block" color="primary" (click)="guardarDatos(); modoEdicion = false"
        style="flex: 1;">Guardar</ion-button>
    </div>

  </div>
</ion-content>