<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      SkeletonAPP
    </ion-title>
    <ion-buttons slot="end"> Cerrar Sesión
      <ion-button (click)="logOut()"> 
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
<div style="border: 2px solid #2196F3; padding: 20px; border-radius: 10px; max-width: 400px; margin: 0 auto 80px auto;">
  <h1 style="text-align: center; margin-top: 0;">¡Bienvenido/a!</h1>
  <p style="text-align: center; margin: 0;">Usuario: {{ usuario }}</p>
</div>


  <ion-segment [(ngModel)]="segmentValue">
    <ion-segment-button value="mis-datos">Mis Datos</ion-segment-button>
    <ion-segment-button value="experiencia">Experiencia Laboral</ion-segment-button>
    <ion-segment-button value="certificaciones">Certificaciones</ion-segment-button>
  </ion-segment>

  <ng-container [ngSwitch]="segmentValue">
    <app-mis-datos *ngSwitchCase="'mis-datos'"></app-mis-datos>
    <app-experiencia-laboral *ngSwitchCase="'experiencia'"></app-experiencia-laboral>
    <app-certificaciones *ngSwitchCase="'certificaciones'"></app-certificaciones>
  </ng-container>


  <div class="footer" style="margin-top: 80px;">App desarrollada por CMP</div>
</ion-content>